body{
    background-color: #78C4D4;
}
h1{
    color: red;
    display: block
}
.menu{
    margin-top: 100px;
    margin-left: 45%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}li{
    list-style-type: none;
}
.dropdown_menu1{
    
    display: none;
}
a{
    text-decoration: none;
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
    color: whitesmoke;
}

.dropdown_menu1 ul li {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid white;
    background-color:#2940D3;
}
.dropdown_menu1 a:hover{
    color: red;
}
.menu:hover .dropdown_menu1{
    margin-top: 5px;
    display: block;
   }
.dropdown_menu2{
    display: none;
}

.dropdown_menu1 ul li:hover .dropdown_menu2{
    display: block;
    position: absolute;
    right: 31.2%;
} .dropdown_menu2:hover{
    color: red;
}

.dropdown_menu3{
    display: none;
}
.dropdown_menu1 ul li:hover .dropdown_menu3{
    display: block;
    position: absolute;
    right: 31.2%;
}
.dropdown_menu4{
    display: none;
}
.dropdown_menu1 ul li:hover .dropdown_menu4{
    display: block;
    position: absolute;
    right: 31.2%;

}
.dropdown_menu5{
    display: none;
}
.dropdown_menu1 ul li:hover .dropdown_menu5{
    display: block;
    position: absolute;
    right: 31.2%;

}
.dropdown_menu6{
    display: none;
}
.dropdown_menu1 ul li:hover .dropdown_menu6{
    display: block;
    position: absolute;
    right: 31.2%;
}


