.input1{
    display: block;
    margin: 20px;
    margin-left: 130px;
    padding: 10px;
}
input{margin: 10px;
    margin-left: 170px;}
div{
    margin-left: 40%;
    margin-right: 32%;
    
}
h2{
    color: rgb(240, 106, 83);
    margin-left: 170px;
}
p{
    margin-left: 120px;
}
button{margin-left: 170px}
div{
    border: solid #05fc5c;
    margin-top: 90px;
    border-radius: 20px;
    background-color: #f7bcf0;
    
}body{
    background-color: #f5d37d;
}
form{
    margin-bottom: 30px;
}